# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html
# 教程来自：http://scrapy-chs.readthedocs.io/zh_CN/0.24/intro/tutorial.html

[settings]
default = tutorial.settings

[deploy]
#url = http://localhost:6800/
project = tutorial
